spring:
  application:
    name: shop-service
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    password: password
    username: postgres
  jpa:
    hibernate.ddl-auto: create-drop
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 0
