# configures RestClient bean to work in docker container
service.docker.environment: true
spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/postgres
    password: password
    username: postgres
  kafka:
    bootstrap-servers: broker:29092
eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/
