spring:
  application:
    name: shop-service
  datasource:
    url: jdbc:postgresql://postgres:5432/postgres
    password: password
    username: postgres
  kafka:
    bootstrap-servers: kafka:29092
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:password@discovery-server:8761/eureka/
