eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: factory-service
          uri: lb://factory-service
          predicates:
            - Path=/api/product
        - id: shop-service
          uri: lb://shop-service
          predicates:
            - Path=/api/order
