eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
springdoc:
  swagger-ui:
    urls:
      - name: factory
        url: /v3/api-docs/factory
      - name: shop
        url: /v3/api-docs/shop
      - name: users
        url: /v3/api-docs/users
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: factory-service
          uri: lb://factory-service
          predicates:
            - Path=/factory/**
          filters:
            - RewritePath=/factory/(?<path>.*), /$\{path}

        - id: shop-service
          uri: lb://shop-service
          predicates:
            - Path=/shop/**
          filters:
            - RewritePath=/shop/(?<path>.*), /$\{path}

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
          filters:
            - RewritePath=/user/(?<path>.*), /$\{path}

        - id: openapi
          uri: http://localhost:8080
          predicates:
            - Path=/v3/api-docs/**
          filters:
            - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs
