global:
  scrape_interval:     10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: 'shop_service'
    metrics_path: '/shop/actuator/prometheus'
    static_configs:
      - targets: ['localhost:8080']
        labels:
          application: 'Shop Application'
  - job_name: 'user_service'
    metrics_path: '/user/actuator/prometheus'
    static_configs:
      - targets: ['localhost:8080']
        labels:
          application: 'User Application'
  - job_name: 'factory_service'
    metrics_path: '/factory/actuator/prometheus'
    static_configs:
      - targets: ['localhost:8080']
        labels:
          application: 'Factory Application'