global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: 'shop_service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'shop-service:8080' ]
        labels:
          application: 'Shop Application'
  - job_name: 'user_service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'user-service:8080' ]
        labels:
          application: 'User Application'
  - job_name: 'factory_service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'factory-service:8080' ]
        labels:
          application: 'Factory Application'
  - job_name: 'mail_service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'mail-service:8080' ]
        labels:
          application: 'Mail service Application'