version: '3'

services:
  postgres:
    image: postgres:alpine
    ports:
      - "5432:5432"
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password

  redis:
    image: redis:7.2.4-alpine
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD = yes
      - REDIS_DATABASES = 1

  zookeeper:
    image: confluentinc/cp-zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: confluentinc/cp-kafka
    container_name: broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - /home/rail/IdeaProjects/secondMicroservices/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - factory-service
      - shop-service
      - mail-service
      - user-service

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    links:
      - prometheus:prometheus
    volumes:
      - grafana-storage:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password

  api-gateway:
    image: railshabayev416/api-gateway
    container_name: api-gateway
    environment:
      SPRING_PROFILES_ACTIVE: 'docker'
    ports:
      - "8080:8080"
    depends_on:
      - discovery-server

  discovery-server:
    image: railshabayev416/discovery-server:latest
    container_name: discovery-server
    environment:
      SPRING_PROFILES_ACTIVE: 'docker'
    ports:
      - "8761:8761"

  factory-service:
    image: railshabayev416/factory-service
    container_name: factory-service
    environment:
      SPRING_PROFILES_ACTIVE: 'docker'
    depends_on:
      - discovery-server
      - postgres
      - api-gateway
      - broker
      - redis
      - mail-service

  mail-service:
    image: railshabayev416/mail-service
    container_name: mail-service
    environment:
      SPRING_PROFILES_ACTIVE: 'docker'
    depends_on:
      - discovery-server
      - api-gateway
      - broker

  shop-service:
    image: railshabayev416/shop-service
    container_name: shop-service
    environment:
      SPRING_PROFILES_ACTIVE: 'docker'
    depends_on:
      - api-gateway
      - discovery-server
      - postgres
      - broker
      - mail-service
      - user-service

  user-service:
    image: railshabayev416/user-service
    container_name: user-service
    environment:
      SPRING_PROFILES_ACTIVE: 'docker'
    depends_on:
      - api-gateway
      - discovery-server
      - redis

volumes:
  grafana-storage: