# configures RestClient bean to work in docker container
service.docker.environment: true
server:
  port: 8080
eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/
