# configures RestClient bean to work in local environment
service.docker.environment: false
management:
  endpoints:
    web:
      exposure:
        include: prometheus
spring:
  application:
    name: user-service
server:
  port: 0