management:
  endpoints:
    web:
      exposure:
        include: prometheus
server:
  port: 8761
eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: false
    fetch-registry: false
spring:
  application:
    name: discovery-server