spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/postgres
    password: password
    username: postgres
  jpa:
    hibernate.ddl-auto: create-drop
  kafka:
    bootstrap-servers: broker:29092
eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/